In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/users/jmaxi/Power BI/Portfolio/data/Upworkk/data/archive/Final_Upwork_Dataset.csv')

In [3]:
pd.set_option('display.max_columns', None)
data.head()

,Job Title,Job_URL,EX_level_demand,Time_Limitation,Search_Keyword,Posted_from,Description,Category1_URL_search,Category_1,highlight,Category2_URL_search,Category_2,Category3_URL_search,Category_3,Category4_URL_search,Category_4,Category5_URL_search,Category_5,Category6_URL_search,Category_6,Category7_URL_search,Category_7,Category8_URL_search,Category_8,Category9_URL_search,Category_9,Applicants_Num,Payment_Situation,Enterprise_Client,Freelancers_Num,Spent($),Client_Country,Connects_Num,New_Connects_Num,Rating,Feedback_Num,Payment_type,Job_Cost,Hourly_Rate,Start_rate,End_rate
0,Power bi specialist freelance,https://www.upwork.com/jobs/Power-specialist-f...,Expert,NaN,Data_science,5 minutes ago,Already data pooled and designed. Need to refi...,https://www.upwork.com/nx/jobs/search/?ontolog...,Data Analysis,data,https://www.upwork.com/nx/jobs/search/?ontolog...,Data Visualization,https://www.upwork.com/nx/jobs/search/?ontolog...,Microsoft Power BI,https://www.upwork.com/nx/jobs/search/?ontolog...,SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less than 5,Payment unverified,NaN,1,0.0,United States,6.0,12.0,NaN,0.0,Fixed-price,"$2,500",NaN,0,NaN
1,Case Study (on-demand delivery startup),https://www.upwork.com/jobs/Case-Study-demand-...,Intermediate,NaN,Data_science,5 minutes ago,"Hi,\n\nWould you be able to help me do a case-...",https://www.upwork.com/nx/jobs/search/?ontolog...,Google Data Studio,Google Data Studio,https://www.upwork.com/nx/jobs/search/?ontolog...,SQL,https://www.upwork.com/nx/jobs/search/?ontolog...,Tableau,https://www.upwork.com/nx/jobs/search/?ontolog...,Microsoft Excel,https://www.upwork.com/nx/jobs/search/?ontolog...,Microsoft PowerPoint,https://www.upwork.com/nx/jobs/search/?ontolog...,Python,https://www.upwork.com/nx/jobs/search/?ontolog...,Analytics,https://www.upwork.com/nx/jobs/search/?ontolog...,Visualization,NaN,NaN,Less than 5,Payment verified,NaN,1,100.0,Canada,4.0,8.0,5.000000,1.0,Fixed-price,$200,NaN,0,NaN
2,"File Maker Pro Reports, Charts, Query and Ongo...",https://www.upwork.com/jobs/File-Maker-Pro-Rep...,Intermediate,"3 to 6 months, Less than 30 hrs/week",Data_science,9 minutes ago,NITIAL PROJECT\n\nSet up Monthly Report mimick...,https://www.upwork.com/nx/jobs/search/?ontolog...,Report Writing,NaN,https://www.upwork.com/nx/jobs/search/?ontolog...,Custom Graphics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less than 5,Payment verified,NaN,1,200.0,United States,6.0,12.0,5.000000,1.0,Hourly,NaN,$40.00,40,NaN
3,Implementation of EleutherAI/gpt-neox-20b,https://www.upwork.com/jobs/Implementation-Ele...,Expert,"3 to 6 months, Less than 30 hrs/week",Data_science,12 minutes ago,"As a first step, you will implement the instal...",https://www.upwork.com/nx/jobs/search/?ontolog...,Machine Learning Model,NaN,https://www.upwork.com/nx/jobs/search/?ontolog...,Machine Learning,https://www.upwork.com/nx/jobs/search/?ontolog...,Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less than 5,Payment verified,NaN,1,200000.0,Canada,6.0,12.0,4.935536,26.0,Hourly,NaN,$35.00-$100.00,$35.00,$100.00
4,BI and Data Engineer for Upwork Finance System...,https://www.upwork.com/jobs/and-span-Data-span...,Expert,"More than 6 months, 30+ hrs/week",Data_science,14 minutes ago,The Upwork Finance Systems team is looking for...,https://www.upwork.com/nx/jobs/search/?ontolog...,Data Analysis,Data,https://www.upwork.com/nx/jobs/search/?ontolog...,Looker,https://www.upwork.com/nx/jobs/search/?ontolog...,SQL,https://www.upwork.com/nx/jobs/search/?ontolog...,Snowflake,https://www.upwork.com/nx/jobs/search/?ontolog...,Accounting,https://www.upwork.com/nx/jobs/search/?ontolog...,Python,NaN,NaN,NaN,NaN,NaN,NaN,Less than 5,Payment verified,Enterprise,1,NaN,United States,6.0,12.0,4.942242,12512.0,Hourly,NaN,NaN,0,NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63950 entries, 0 to 63949
Data columns (total 41 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Job Title             63948 non-null  object
 1   Job_URL               63949 non-null  object
 2   EX_level_demand       56935 non-null  object
 3   Time_Limitation       23034 non-null  object
 4   Search_Keyword        63949 non-null  object
 5   Posted_from           63913 non-null  object
 6   Description           63948 non-null  object
 7   Category1_URL_search  63505 non-null  object
 8   Category_1            63505 non-null  object
 9   highlight             50131 non-null  object
 10  Category2_URL_search  59889 non-null  object
 11  Category_2            59889 non-null  object
 12  Category3_URL_search  54997 non-null  object
 13  Category_3            54997 non-null  object
 14  Category4_URL_search  47543 non-null  object
 15  Category_4            47543 non-null  object
 16  Category5_URL_search  39578 non-null  object
 17  Category_5            39578 non-null  object
 18  Category6_URL_search  31307 non-null  object
 19  Category_6            31307 non-null  object
 20  Category7_URL_search  25192 non-null  object
 21  Category_7            25192 non-null  object
 22  Category8_URL_search  20436 non-null  object
 23  Category_8            20436 non-null  object
 24  Category9_URL_search  16481 non-null  object
 25  Category_9            16481 non-null  object
 26  Applicants_Num        63949 non-null  object
 27  Payment_Situation     63949 non-null  object
 28  Enterprise_Client     53 non-null     object
 29  Freelancers_Num       63950 non-null  int64
 30  Spent($)              62304 non-null  float64
 31  Client_Country        63825 non-null  object
 32  Connects_Num          63949 non-null  float64
 33  New_Connects_Num      63949 non-null  float64
 34  Rating                30593 non-null  float64
 35  Feedback_Num          63949 non-null  float64
 36  Payment_type          63949 non-null  object
 37  Job_Cost              20113 non-null  object
 38  Hourly_Rate           26570 non-null  object
 39  Start_rate            63949 non-null  object
 40  End_rate              25963 non-null  object
dtypes: float64(5), int64(1), object(35)
memory usage: 20.0+ MB

In [4]:
data.isnull().sum()

Job Title                   2
Job_URL                     1
EX_level_demand          7015
Time_Limitation         40916
Search_Keyword              1
Posted_from                37
Description                 2
Category1_URL_search      445
Category_1                445
highlight               13819
Category2_URL_search     4061
Category_2               4061
Category3_URL_search     8953
Category_3               8953
Category4_URL_search    16407
Category_4              16407
Category5_URL_search    24372
Category_5              24372
Category6_URL_search    32643
Category_6              32643
Category7_URL_search    38758
Category_7              38758
Category8_URL_search    43514
Category_8              43514
Category9_URL_search    47469
Category_9              47469
Applicants_Num              1
Payment_Situation           1
Enterprise_Client       63897
Freelancers_Num             0
Spent($)                 1646
Client_Country            125
Connects_Num                1
New_Connects_Num            1
Rating                  33357
Feedback_Num                1
Payment_type                1
Job_Cost                43837
Hourly_Rate             37380
Start_rate                  1
End_rate                37987
dtype: int64

In [5]:
data = data.drop(['Job_URL', 'Category1_URL_search', 'Category2_URL_search',
       'Category3_URL_search', 'Category4_URL_search', 'Category5_URL_search', 'Category6_URL_search',
                 'Category7_URL_search', 'Category8_URL_search',
       'Category9_URL_search'], axis = 1)

In [6]:
data.columns

Index(['Job Title', 'EX_level_demand', 'Time_Limitation', 'Search_Keyword',
       'Posted_from', 'Description', 'Category_1', 'highlight', 'Category_2',
       'Category_3', 'Category_4', 'Category_5', 'Category_6', 'Category_7',
       'Category_8', 'Category_9', 'Applicants_Num', 'Payment_Situation',
       'Enterprise_Client', 'Freelancers_Num', 'Spent($)', 'Client_Country',
       'Connects_Num', 'New_Connects_Num', 'Rating', 'Feedback_Num',
       'Payment_type', 'Job_Cost', 'Hourly_Rate', 'Start_rate', 'End_rate'],
      dtype='object')

In [7]:
data = data.drop(['Description', 'Job Title', 'Description'], axis = 1)

In [8]:
data = data.drop(['Posted_from'], axis =1)

In [18]:
data.head()

,EX_level_demand,Time_Limitation,Search_Keyword,Category_1,highlight,Category_2,Category_3,Category_4,Category_5,Category_6,Category_7,Category_8,Category_9,Applicants_Num,Payment_Situation,Enterprise_Client,Freelancers_Num,Spent($),Client_Country,Connects_Num,New_Connects_Num,Rating,Feedback_Num,Payment_type,Job_Cost,Hourly_Rate,Start_rate,End_rate
0,Expert,NaN,Data_science,Data Analysis,data,Data Visualization,Microsoft Power BI,SQL,NaN,NaN,NaN,NaN,NaN,Less than 5,Payment unverified,NaN,1,0.0,United States,6.0,12.0,NaN,0.0,Fixed-price,"$2,500",NaN,0,NaN
1,Intermediate,NaN,Data_science,Google Data Studio,Google Data Studio,SQL,Tableau,Microsoft Excel,Microsoft PowerPoint,Python,Analytics,Visualization,NaN,Less than 5,Payment verified,NaN,1,100.0,Canada,4.0,8.0,5.000000,1.0,Fixed-price,$200,NaN,0,NaN
2,Intermediate,"3 to 6 months, Less than 30 hrs/week",Data_science,Report Writing,Not highlighted,Custom Graphics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less than 5,Payment verified,NaN,1,200.0,United States,6.0,12.0,5.000000,1.0,Hourly,NaN,$40.00,40,NaN
3,Expert,"3 to 6 months, Less than 30 hrs/week",Data_science,Machine Learning Model,Not highlighted,Machine Learning,Python,NaN,NaN,NaN,NaN,NaN,NaN,Less than 5,Payment verified,NaN,1,200000.0,Canada,6.0,12.0,4.935536,26.0,Hourly,NaN,$35.00-$100.00,$35.00,$100.00
4,Expert,"More than 6 months, 30+ hrs/week",Data_science,Data Analysis,Data,Looker,SQL,Snowflake,Accounting,Python,NaN,NaN,NaN,Less than 5,Payment verified,Enterprise,1,NaN,United States,6.0,12.0,4.942242,12512.0,Hourly,NaN,NaN,0,NaN

In [9]:
data.Applicants_Num.unique()

array(['Less than 5', '5 to 10', '50+', '20 to 50', '10 to 15',
       '15 to 20', nan], dtype=object)

In [10]:
data.Enterprise_Client.unique()

array([nan, 'Enterprise'], dtype=object)

---
So, while "Highlight" is about the visual or attention-grabbing aspect of a job post, "Category" relates to the organizational system that sorts jobs into different fields or types of work. In your dataset, each job will belong to one category (showing the field of work) but may or may not be highlighted, depending on whether the client has opted for that feature to make their post more noticeable.

In [13]:
data.highlight.isnull().sum()

13819

In [11]:
#data.highlight.unique()
data.highlight = data.highlight.fillna('Not highlighted')

In [12]:
highlighted_categories = pd.DataFrame(data[['Category_1','highlight']])

In [16]:
highlighted_categories.head(10)

                       Category_1           highlight
0                   Data Analysis                data
1              Google Data Studio  Google Data Studio
2                  Report Writing     Not highlighted
3          Machine Learning Model     Not highlighted
4                   Data Analysis                Data
5  Generative Adversarial Network                data
6              Data Visualization                Data
7                  Data Analytics                Data
8                             SQL                Data
9                    Data Science                data

TODO: if highlighted = 1 if not = 0
same with payment situation

In [13]:
data = data.fillna('-')

In [20]:
#is highlighted(yes/no) column

In [14]:
import numpy as np

In [15]:
data['is_highlighted'] = np.where(data['highlight'] == 'Not highlighted', 0, 1)

In [16]:
data.head()

,EX_level_demand,Time_Limitation,Search_Keyword,Category_1,highlight,Category_2,Category_3,Category_4,Category_5,Category_6,Category_7,Category_8,Category_9,Applicants_Num,Payment_Situation,Enterprise_Client,Freelancers_Num,Spent($),Client_Country,Connects_Num,New_Connects_Num,Rating,Feedback_Num,Payment_type,Job_Cost,Hourly_Rate,Start_rate,End_rate,is_highlighted
0,Expert,-,Data_science,Data Analysis,data,Data Visualization,Microsoft Power BI,SQL,-,-,-,-,-,Less than 5,Payment unverified,-,1,0.0,United States,6.0,12.0,-,0.0,Fixed-price,"$2,500",-,0,-,1
1,Intermediate,-,Data_science,Google Data Studio,Google Data Studio,SQL,Tableau,Microsoft Excel,Microsoft PowerPoint,Python,Analytics,Visualization,-,Less than 5,Payment verified,-,1,100.0,Canada,4.0,8.0,5.0,1.0,Fixed-price,$200,-,0,-,1
2,Intermediate,"3 to 6 months, Less than 30 hrs/week",Data_science,Report Writing,Not highlighted,Custom Graphics,-,-,-,-,-,-,-,Less than 5,Payment verified,-,1,200.0,United States,6.0,12.0,5.0,1.0,Hourly,-,$40.00,40,-,0
3,Expert,"3 to 6 months, Less than 30 hrs/week",Data_science,Machine Learning Model,Not highlighted,Machine Learning,Python,-,-,-,-,-,-,Less than 5,Payment verified,-,1,200000.0,Canada,6.0,12.0,4.935536,26.0,Hourly,-,$35.00-$100.00,$35.00,$100.00,0
4,Expert,"More than 6 months, 30+ hrs/week",Data_science,Data Analysis,Data,Looker,SQL,Snowflake,Accounting,Python,-,-,-,Less than 5,Payment verified,Enterprise,1,-,United States,6.0,12.0,4.942242,12512.0,Hourly,-,-,0,-,1

In [24]:
data.EX_level_demand.unique()

array(['Expert', 'Intermediate', 'Entry level', '-'], dtype=object)

In [25]:
data.to_csv('/Users/jmaxi/Power BI/Portfolio/data/Upworkk/upwork_clean.csv')

In [17]:
topC1 = pd.DataFrame(data.Category_1.value_counts())

In [18]:
topC1.head(10)

                         count
Category_1
Web Development           8733
Social Media Marketing    4783
Marketing Strategy        1702
Mobile App Development    1331
3D Modeling               1228
Email Marketing           1200
Python                     910
Android App Development    895
3D Design                  821
Market Research            761

In [19]:
cc = data.groupby(['Category_1', 'is_highlighted']).transform('count')
print(cc)

       EX_level_demand  Time_Limitation  Search_Keyword  highlight  \
0                  543              543             543        543
1                  105              105             105        105
2                    1                1               1          1
3                   15               15              15         15
4                  543              543             543        543
...                ...              ...             ...        ...
63945               86               86              86         86
63946                3                3               3          3
63947             4778             4778            4778       4778
63948             4778             4778            4778       4778
63949              273              273             273        273

       Category_2  Category_3  Category_4  Category_5  Category_6  Category_7  \
0             543         543         543         543         543         543
1             105         105         105         105         105         105
2               1           1           1           1           1           1
3              15          15          15          15          15          15
4             543         543         543         543         543         543
...           ...         ...         ...         ...         ...         ...
63945          86          86          86          86          86          86
63946           3           3           3           3           3           3
63947        4778        4778        4778        4778        4778        4778
63948        4778        4778        4778        4778        4778        4778
63949         273         273         273         273         273         273

       Category_8  Category_9  Applicants_Num  Payment_Situation  \
0             543         543             543                543
1             105         105             105                105
2               1           1               1                  1
3              15          15              15                 15
4             543         543             543                543
...           ...         ...             ...                ...
63945          86          86              86                 86
63946           3           3               3                  3
63947        4778        4778            4778               4778
63948        4778        4778            4778               4778
63949         273         273             273                273

       Enterprise_Client  Freelancers_Num  Spent($)  Client_Country  \
0                    543              543       543             543
1                    105              105       105             105
2                      1                1         1               1
3                     15               15        15              15
4                    543              543       543             543
...                  ...              ...       ...             ...
63945                 86               86        86              86
63946                  3                3         3               3
63947               4778             4778      4778            4778
63948               4778             4778      4778            4778
63949                273              273       273             273

       Connects_Num  New_Connects_Num  Rating  Feedback_Num  Payment_type  \
0               543               543     543           543           543
1               105               105     105           105           105
2                 1                 1       1             1             1
3                15                15      15            15            15
4               543               543     543           543           543
...             ...               ...     ...           ...           ...
63945            86                86      86            86            86
63946             3                 3       3             3             3
63947          4778              4778    4778          4778          4778
63948          4778              4778    4778          4778          4778
63949           273               273     273           273           273

       Job_Cost  Hourly_Rate  Start_rate  End_rate
0           543          543         543       543
1           105          105         105       105
2             1            1           1         1
3            15           15          15        15
4           543          543         543       543
...         ...          ...         ...       ...
63945        86           86          86        86
63946         3            3           3         3
63947      4778         4778        4778      4778
63948      4778         4778        4778      4778
63949       273          273         273       273

[63950 rows x 27 columns]

In [20]:
result_df = data.groupby('Category_1').agg({'Category_1': 'count', 'is_highlighted': 'sum'})
result_df = result_df.rename(columns={'Category_1': 'CountOccurrences', 'is_highlighted': 'SumNumericalColumn'}).reset_index()

print(result_df)

                   Category_1  CountOccurrences  SumNumericalColumn
0                           -               445                 172
1                   .NET Core                13                   5
2              .NET Framework                77                  57
3     .htaccess File Creation                 1                   0
4                   2Checkout                 1                   0
...                       ...               ...                 ...
2235                    spaCy                 1                   1
2236                 three.js                33                  19
2237                     tvOS                 2                   2
2238                 unittest                 2                   0
2239                  webpack                 2                   2

[2240 rows x 3 columns]

In [21]:
cat_highlighted = pd.DataFrame(result_df)

In [22]:
cat_highlighted.head()

                Category_1  CountOccurrences  SumNumericalColumn
0                        -               445                 172
1                .NET Core                13                   5
2           .NET Framework                77                  57
3  .htaccess File Creation                 1                   0
4                2Checkout                 1                   0

In [23]:
cat_highlighted = cat_highlighted.sort_values(by = 'CountOccurrences', ascending= False)

In [24]:
cat_highlighted.head(10)

                   Category_1  CountOccurrences  SumNumericalColumn
2127          Web Development              8733                8703
1872   Social Media Marketing              4783                4778
1262       Marketing Strategy              1702                1701
1352   Mobile App Development              1331                1325
28                3D Modeling              1228                1224
754           Email Marketing              1200                1198
1623                   Python               910                 460
171   Android App Development               895                 895
16                  3D Design               821                 821
1235          Market Research               761                 759

In [25]:
data.Search_Keyword.unique()

array(['Data_science', '3D', 'Developer', 'Marketing', '-'], dtype=object)

In [26]:
data.Applicants_Num.unique()

array(['Less than 5', '5 to 10', '50+', '20 to 50', '10 to 15',
       '15 to 20', '-'], dtype=object)

In [27]:
data.Payment_type.unique()

array(['Fixed-price', 'Hourly', '-'], dtype=object)

In [29]:
data.Freelancers_Num.unique()

array([ 1,  3,  2, 25,  5,  4, 20, 12, 10, 50,  6,  7,  8,  0, 45, 28, 99,
       21, 40, 75, 64, 18, 77, 55, 29,  9, 78, 15, 30, 51, 60, 90, 17, 80,
       70], dtype=int64)